@font-face {
  font-family: Calculator-Font;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-pink: #fce4ec;
    --bg-circle: #ff2d75;
    --bg-dark: #3a3a3a;
    --bg-light: #e5e5e5;
    --font-white: #ffffff;
    --font-black: #000000;
    --font-pink: #ff2f92;
}

body {
    background-color: var(--bg-pink);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.background-circle {
    position: absolute;
    width: 450px;
    height: 450px;
    background: linear-gradient(135deg, var(--bg-circle), var(--font-pink));
    border-radius: 50%;
    z-index: 1;
    opacity: 0.7;
 
}

.phone-frame {
    width: 260px;
    height: 563px;
    background-color: var(--font-black);
    border: 6px solid #222;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 40px 80px rgba(0,0,0,0.4);
    z-index: 10;
    padding: 4px;
    position: relative;
}

.dynamic-island {
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 22px;
    background-color: var(--font-black);
    border: 1px solid var(--bg-dark);
    border-radius: 20px;
    z-index: 20;
}

.calculator-screen {
    background-color: #151515;
    flex: 1;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-top: 60px;
}

.display {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--font-white);
    padding-right: 5px;
    margin-bottom: 20px;
}

.history {
    font-size: 20px;
    color: #8b8b8b;
    min-height: 20px;
    margin-bottom: 4px;
}

.result {
    font-family: 'Calculator-Font', sans-serif;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: -1px;
    white-space: pre-wrap; 
    word-wrap: break-word;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    border: none;
    background: var(--bg-dark);
    color: var(--font-white);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:active {
    transform: scale(0.95);
    filter: brightness(1.2);
}

.btn.light {
    background: var(--bg-light);
    color: var(--font-black);
}

.btn.operator {
    background: var(--font-pink);
    color: var(--font-white);
}

.btn.zero {
    grid-column: span 2;
    width: 100%;
    border-radius: 30px;
    justify-content: center;

}



